--
-- PostgreSQL database dump
--

\restrict ovPMzksO2BRm2CFcRVrJljpdBYyTqQUiuwtDUocwvNcKBpaAwEnz0wMZ4kMKLNo

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: postings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postings (
    id integer NOT NULL,
    title text,
    company text,
    location text,
    skills text[],
    date_scraped date,
    description text,
    date_posted date
);


ALTER TABLE public.postings OWNER TO postgres;

--
-- Name: postings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.postings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.postings_id_seq OWNER TO postgres;

--
-- Name: postings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.postings_id_seq OWNED BY public.postings.id;


--
-- Name: postings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postings ALTER COLUMN id SET DEFAULT nextval('public.postings_id_seq'::regclass);


--
-- Data for Name: postings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: postings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.postings_id_seq', 75, true);


--
-- Name: postings postings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postings
    ADD CONSTRAINT postings_pkey PRIMARY KEY (id);


--
-- Name: postings postings_title_company_date_scraped_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postings
    ADD CONSTRAINT postings_title_company_date_scraped_key UNIQUE (title, company, date_scraped);


--
-- PostgreSQL database dump complete
--

\unrestrict ovPMzksO2BRm2CFcRVrJljpdBYyTqQUiuwtDUocwvNcKBpaAwEnz0wMZ4kMKLNo

