fastapi==0.95.0
uvicorn[standard]==0.22.0
sqlalchemy==2.0.29
greenlet==3.0.3
alembic==1.11.1
psycopg2-binary==2.9.12
playwright==1.36.0
pandas==2.2.2
scikit-learn==1.4.2
httpx==0.24.1
python-dotenv==1.0.0
python-multipart==0.0.6
pydantic==1.10.12
gunicorn==21.2.0
